<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Accelerometer</title>
</head>
<body>
    <script type="text/javascript">
        var xmlhttp = new XMLHttpRequest();
        var url = "accelerometer_json";

        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                try{
                    var obj = JSON.parse(xmlhttp.toString());
                    var x_value = obj.x;
                }catch(e){
                    console.log(e);
                    var x_value = 0;
                }

                myFunction(x_value);
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();

        function myFunction(x_value) {
            console.log(x_value.toString());
        }
    </script>
</body>
</html>