<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Accelerometer</title>
</head>
<body>
    <script type="text/javascript">
        var xmlhttp = new XMLHttpRequest();
        var url = "get_csv/";

        xmlhttp.onreadystatechange = function() {
            var x_value, y_value, z_value, max_g;
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                try{
                    var allText = xmlhttp.responseText;
                    var arrayText = allText.split(",");
                    console.log(arrayText.length)
                    for(i=0;i<arrayText.length;i++){
                        console.log(arrayText[i])
                    }
                }catch(e){
                    console.log(e);
                }

                //myFunction(x_value, y_value, z_value, max_g);
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();

        function myFunction(x, y, z, g) {
            console.log(x);
            console.log(y);
            console.log(z);
            console.log(g);
        }
    </script>
</body>
</html>