<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Connection</title>
</head>
<body>
    <ul>
        <li >IMU
            <ul>
                <li><a href="accelerometer.html">Plot accelerometer data</a></li>
                <li><a href="gyroscope.html">Plot gyroscope data</a></li>
                <li><a href="magnetometer.html">Plot magnetometer data</a></li>
            </ul>
        </li><br>
        <li>ATTITUDE
            <ul>
                <li><a href="attitude.html.html">See attitude</a></li>
            </ul>
        </li><br>

    </ul>
</body>
</html>