<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <script type="text/javascript">

        function startMAVConnection(){
            var xmlhttp = new XMLHttpRequest();
            var url = "start_mav_connection";
            xmlhttp.onreadystatechange = function(){
                console.log(xmlhttp.responseText);
                if(xmlhttp.readyState==4 && xmlhttp.status==200 && xmlhttp.responseText=="connected"){
                    document.getElementById('status').textContent = "Status: "+xmlhttp.responseText;
                    //go to connection page
                    window.location.href = "connection";
                }else{
                    document.getElementById('status').textContent = "Status: "+xmlhttp.responseText;
                }
            };
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }

    </script>
    <p id="button_space">
        <button onclick="startMAVConnection()">Connect to drone</button>
        <button>Connect to test bench</button>
    </p>
    <p id="status_space">
        <a id="status"></a>
    </p>
</body>
</html>