<!DOCTYPE html>
<html>
	<head lang="it">
		<meta charset="UTF-8">
		<title>Magnetometer</title>
        {% load staticfiles %}
        <script type="text/javascript" src="{% static "javascript/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "javascript/highcharts.js" %}"></script>
        <script type="text/javascript" src="{% static "javascript/modules/exporting.js" %}"></script>
	</head>
	<body>
		<p>
			<button type="button" id="playStopButton" onclick="playStop()">Play / Stop</button>
            <button type="button" id="closeMAV" onclick="closeMAV()">Close MAV communication</button>
	    </p>
	    <div id="magnetometer_chart" style="width: 100%; height: 400px;"></div>
        <script type="text/javascript">
            //----------------------- define variables -----------------------------
            var play_chart = false;
            document.getElementById("playStopButton").innerHTML = "Play";

            $(function () {
                $(document).ready(function(){
                    Highcharts.setOptions({
                       global: {
                           useUTC: false
                       }
                   });

                   $('#magnetometer_chart').highcharts({
                      chart: {
                          type: 'spline',
                          animation: Highcharts.svg,
                          marginRight: 10,
                          events: {
                              load: function(){
                                  //define function called every 200 ms
                                  var x_series = this.series[0];
                                  var y_series = this.series[1];
                                  var z_series = this.series[2];
                                  setInterval(function(){
                                      if(play_chart){
                                            var xmlhttp = new XMLHttpRequest();
                                            var url = "get_magnetometer/";

                                            xmlhttp.onreadystatechange = function () {
                                                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                                    var x_value, y_value, z_value, time_value;
                                                    try {
                                                        var allText = xmlhttp.responseText;
                                                        //console.log(allText);
                                                        allText = allText.slice(1,allText.length-1); // cut ] at end of string and [ at start
                                                        var arrayText = allText.split(",");
                                                        //console.log(arrayText[0]);
                                                        var time_millis = Number(arrayText[0]);
                                                        //console.log(time_millis);
                                                        x_value = parseFloat(arrayText[1]);
                                                        y_value = parseFloat(arrayText[2]);
                                                        z_value = parseFloat(arrayText[3]);
                                                        x_series.addPoint([time_millis, x_value], true, true);
                                                        y_series.addPoint([time_millis, y_value], true, true);
                                                        z_series.addPoint([time_millis, z_value], true, true);
                                                    } catch (e) {
                                                        time_value = (new Date()).getTime();
                                                        x_value = 0.0;
                                                        y_value = 0.0;
                                                        z_value = 0.0;
                                                        x_series.addPoint([time_value, x_value], false, false);
                                                        y_series.addPoint([time_value, y_value], false, false);
                                                        z_series.addPoint([time_value, z_value], true, true);
                                                    }


                                                }
                                            };
                                            xmlhttp.open("GET", url, true);
                                            xmlhttp.send();
                                        }
                                  },500);
                              }
                          }
                      },
                      xAxis: {
                          type: 'datetime',
                          tickPixelInterval: 100
                      },
                      yAxis: {
                          title: {
                              text: 'Values'
                          },
                          plotLines: [
                              {value: 0, width:2, color: '#FF0000'},
                          ],
                          tickPixelInterval: 20
                      },
                      tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S:%l', this.x) + '<br/>' +
                            Highcharts.numberFormat(this.y, 2);
                        }
                      },
                      legend: {
                          enabled: true
                      },
                      exporting: {
                          enabled: true
                      },
                      series: [
                          {
                             name: 'X value',
                             data: [[0],[0],[0],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]
                          },
                          {
                             name: 'Y value',
                             data: [[0],[0],[0],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]
                          },
                          {
                             name: 'Z value',
                             data: [[0],[0],[0],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]
                          },
                      ]
                   });
                });
            });

            //define button function
            function playStop(){
                if(play_chart){
                    document.getElementById("playStopButton").innerHTML = "Play";
                }else{
                    document.getElementById("playStopButton").innerHTML = "Stop";
                }
                play_chart = !play_chart;
            }

            function closeMAV() {
                var xmlhttp = new XMLHttpRequest();
                var url = "close_mav_connection/";
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200 && xmlhttp.responseText == "closed") {
                        console.log(xmlhttp.responseText);
                        window.location.href = "/myapp/";
                    }
                };
                xmlhttp.open("GET", url, true);
                xmlhttp.send();
            }
        </script>
	</body>
</html>
